/* Custom Navbar */

.navbar-custom{
    background-color: #337AB7;
    border-radius:0;
}

.navbar-custom a{
    color:lightgray; 
}

.nav > li > a:hover,
.nav > li > a:focus{
    color:white;
    background-color: #337AB7;
}

li.active > a,
li.active > a:hover,
li.active > a:focus{
    color:white;
    background-color: #286192;
}

.icon-bar{
    background-color: lightgray;
}

/* Tweet page spacing on columns
Add top margin only when stacked */

.col-sm-6 + .col-sm-6{
    margin-top: 5%;
}

@media (min-width: 768px) {
  .col-sm-6 + .col-sm-6{
    margin-top:0;
    }     
}

/* Form */

textarea{
    resize: none;
}

#submit{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

/* Custom .jumbotron style content boxes for this site */
.content-box{
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#eee;
    border-radius:4px;
    padding:2%
    
}

/* Footer */

@media (min-width: 768px){
    footer{
        position:absolute;
        bottom:0;
        width:100%;
        text-align: center;
        margin-top:1%;
    }
}

footer{
    text-align: center;
    margin-top:1%;
}

/* Misc elements */

#count{
	float:right;
}

#brand-image{
    margin-right:16px;
}

.panel-heading{
    padding-top:1%;
    padding-bottom:1%;
}

h2{
    margin-top:0;
}